form{
  border: 1px ;
  border-style: solid ;
  border-color: #d1cdcd;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 16px 32px;
  background-color: rgba(242,242,242,0.90)

}

input[type=submit],input[type=button] {
  background-color: #cc3c14;
  border: 1px hidden;
  border-radius: 100px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

body{
  background-image: url('test_opaque2.jpg');
  border: 1px hidden;
  background-clip: content-box;
  background-position: center;
}

div[class="core"]{
  border: 1px ;
  border-style: solid ;
  border-color: #d1cdcd;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 16px 32px;
  background-color: rgba(255,255,255,0.65)
}

div[id="caroussel"]{
  margin-left: auto;
  margin-right: auto;
  width:100%;  
}



/*permet de fixer la position du footer en bas de page*/
html,body{
  height: 100%;
  margin: 0;
  
}

footer {
    /*position: relative;*/
    margin-top:auto;
}

body{ 
  display:flex; 
  flex-direction:column; 
}

